
*{
    margin:0;
    box-sizing: border-box;
}

.wrapper {
    width:400px;
}

.header {
    background-color: #141f40;
    height:100px;
    position: relative;
}

.headerblockwrap {
    height: 60px;
    width: 160px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 220px;
}

.headerblock {
    float: left;
    height: 40px;
    width: 40px;
    background-color: #a9004b;
    margin: 10px 0 10px 10px;
}


.left {
    background-color: #80bfa8;
    width: 150px;
    height:250px;
    float:left;
}

.right {
    background-color: #8c2727;
    width: 250px;
    height:250px;
    float:left;
}

.rightblock {
    width: 150px;
    height:50px;
    border: solid 5px #fff;
    background-color: #ff863f;
    margin:0 0 10px 40px;
}

.rightblock:first-child {
    margin-top: 40px;
}

.footer {
    background-color: #d98d30;
    height: 100px;
}

.clearfix::after {
    content: '';
    display: block;
    clear:left;
}
